<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>Contacts deleted</title>
</head>
<body>
    <div class="container">
        <h1>You have deleted all contacts</h1>

    </div>
</body>
</html>
